{% extends '_layouts/in_app.html.twig' %}

{% block title %}Accueil - X Clone{% endblock %}

{% block content %}
    <div class="feed-header">
        <h2>Pour vous</h2>
        <h2>Abonnements</h2>
    </div>

    <div class="create-post">
         <img src="{{ asset('pdp.jpg') }}" alt="Mon profil" class="avatar">
        <div class="input-area">
            <input type="text" placeholder="Quoi de neuf ?">
            <div class="actions">
                <div class="icons">
                    <i class="fa-regular fa-image"></i>
                    <i class="fa-solid fa-list-ul"></i>
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <button class="post-btn-small">Poster</button>
            </div>
        </div>
    </div>

    {% for tweet in tweets %}
        <div class="post">
            <a href="{{ path('app_profile_show', {'id': tweet.createdBy.id}) }}">
                <img src="https://i.pravatar.cc/100?u={{ tweet.createdBy.id|default('default') }}" alt="Avatar" class="avatar">
            </a>
            <div class="post-content">
                <div class="post-header">
                    <a href="{{ path('app_profile_show', {'id': tweet.createdBy.id}) }}" class="profile-link">
                        <span class="name">{{ tweet.createdBy.username|default('Anonyme') }}</span>
                    </a>
                    <span class="handle">@{{ tweet.createdBy.username|default('anonyme')|lower }} • {{ tweet.createdDate|date('d/m H:i') }}</span>
                </div>
                <p class="text">{{ tweet.content }}</p>
                <div class="post-footer">
                    <span>
                        <i class="fa-regular fa-comment"></i> 
                        {{ commentService is defined ? commentService.findCommentsByTweetId(tweet.id)|length : 0 }}
                    </span>
                    <span><i class="fa-solid fa-retweet"></i> 0</span>
                    <a href="{{ path('tweet_like', {'id': tweet.id}) }}" class="like-link">
                        <span>
                            <i class="fa-{{ likeService.countLikesByTweetId(tweet.id) > 0 ? 'solid' : 'regular' }} fa-heart"></i> 
                            {{ likeService.countLikesByTweetId(tweet.id) }}
                        </span>
                    </a>
                    <span><i class="fa-solid fa-chart-simple"></i> 0</span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="post">
            <p class="text">Aucun tweet pour le moment.</p>
        </div>
    {% endfor %}
{% endblock %}
