{% extends '_layouts/in_app.html.twig' %}

{% block title %}Tweet de {{ author.username }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">@{{ author.username }}</h5>
            <p class="card-text">{{ tweet.content }}</p>
            <div class="text-muted small">
                {{ tweet.createdDate|date('d/m/Y H:i') }} |
                {{ likes }} Likes |
                {{ views }} Vues |
                {{ nbComments }} Commentaires
            </div>
        </div>
    </div>

    <hr>

    <h3>Commentaires</h3>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mb-4">
            <a href="{{ path('app_comment_create', {'tweetId': tweet.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
        </div>
    {% endif %}

    <div class="list-group">
        {% for comment in listComments %}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">@{{ comment.createdBy.username }}</h6>
                    <small>{{ comment.createdDate|date('d/m/Y H:i') }}</small>
                </div>
                <p class="mb-1">{{ comment.content }}</p>

                {% if is_granted('IS_AUTHENTICATED_FULLY') and comment.createdBy == app.user %}
                    <div class="mt-2">
                        <form action="{{ path('app_comment_delete', {'id': comment.id}) }}" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');" style="display: inline;">
                            <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p>Aucun commentaire pour le moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
